h1 {
    display: inline-block;
    position: relative;
    font-size: 60px;
    margin: 40px;
    font-family: monospace;
    color: hotpink;
    overflow: hidden:
}

h1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-left: 3px solid hotpink;
    animation: cursor .6s infinite linear, typing 4s infinite steps(13, start);
}

@keyframes cursor {
    0% {
        border-color: transparent;
    }

    10% {
        border-color: transparent;
    }

    25% {
        border-color: hotpink;
    }

    75% {
        border-color: hotpink;
    }

    90% {
        border-color: transparent;
    }

    100% {
        border-color: transparent;
    }
}

@keyframes typing {
    100% {
        left: 100%;
    }
}